# Ignore virtual environment
/scripts/02456_grp_97_venv/

#ignore all images
*.png

# Ignore log files
*.log

# paychace
*.pyc


# Ignore temporary files
*.tmp

# Ignore models directory and submodels 
/models/
/models/model_SpectrVelCNNRegr_
/models/model_SpectrVelCNNRegr_happy-darkness-1

# Ignore wand files 
/wandb

# ignore the .env file for the personal api key 
*.env 

# ignore .ssh files
*.ssh
.ssh/key
.ssh/key.pub

#ignore for files inside scripts
/scripts/wandb
/scripts/_pycache

